.child {
    background-color: black;
}

.child-1 {
    background-color: red;
}

.child-2 {
    background-color: orange;
}

.France {
    background-color: black;

}

 .child-one {
    background-color: blue;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.child-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    height: 100px;
    width: 100px;
}

.child-three {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
}
