.Germany {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}




.child {
    background-color: black;
    color: white;
    width: 300px;
    height: 33px;

}

.child-1 {
    background-color: red;
    width: 300px;
    height: 33px;
}

.child-2 {
    background-color: orange;
    width: 300px;
    height: 33px;
}

.France {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

 .child-one {
    background-color: blue;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.child-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    height: 100px;
    width: 100px;
}

.child-three {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
}
