.child {
    background-color: black;
}

.child-1 {
    background-color: red;
}

.child-2 {
    background-color: orange;
}

.child-one {
    background-color: blue;
}

.child-two {
    background-color:white;
}

.child-three {
    background-color: red;
}